@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;500&display=swap");
@font-face {
  font-family: 'gilroy-semibold';
  src: url("../fonts/gilroy-semibold.eot");
  src: local("☺"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #101144;
}

.header {
  width: 1100px;
  margin: 79px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .nav {
  width: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 44px;
}

.header .nav a {
  font-family: 'Gilroy-SemiBold';
  color: #b5b5b5;
}

.header .entry {
  margin-left: auto;
}

.header .entry button {
  width: 112px;
  height: 36px;
  font-family: 'Rubik', sans-serif;
}

.header .entry .login {
  margin-right: 20px;
  color: #f2994a;
  border: 1px solid #f2994a;
  border-radius: 4px;
}

.header .entry .registration {
  background: #f2994a;
  color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.motivation {
  width: 540px;
  height: 439px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 139px 0px 0px 170px;
}

.motivation h1 {
  width: 531px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99efd0;
}

.motivation > p {
  width: 468px;
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 22px;
  margin: 19px 0px 0px 0px;
  color: #8476aa;
}

.info {
  margin: 40px 0px 0px 0px;
}

.info button {
  width: 112px;
  height: 36px;
  font-family: 'Rubik', sans-serif;
}

.info .info__demo {
  color: #f2994a;
  border: 1px solid #f2994a;
  border-radius: 4px;
  background: #101144;
}

.info .info__more {
  margin-right: 20px;
  background: #f2994a;
  color: white;
}

.preview {
  width: 540px;
  height: 80px;
  margin: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.preview p {
  width: 380px;
  height: 44px;
  margin: 0px 0px 0px 23px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8476aa;
}

.preview span {
  margin: 6px 0px 0px 23px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #6d6d78;
}

.men {
  margin: 104px 0px 0px 20px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1170px;
  height: 30px;
  margin: 0px auto;
}

.features {
  width: 100%;
  height: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 100px auto 0px auto;
  background: url("../img/firstleft.png") 0 0/250px 380px no-repeat, url("../img/firstright.png") 100% 0/250px 380px no-repeat;
}

.features .text {
  margin: 0px auto;
}

.features .text h2 {
  width: 299px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
  margin: 0 auto;
  text-align: center;
}

.features .text p {
  width: 765px;
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 22px;
  color: #8476aa;
  margin: 20px auto 20px auto;
  text-align: center;
}

.features p {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 22px;
  color: #8476aa;
  width: 250px;
  margin-left: 60px;
}

.features h4 {
  font-family: 'Gilroy-SemiBold';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #99efd0;
  width: 220px;
  margin-left: 36px;
}

.features .features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 997px;
  margin: 0 auto;
}

.features .features__items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 300px;
  height: 106;
  margin: 40px auto 0px auto;
}

.features .features__items div img {
  width: 24px;
  height: 24px;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
  width: 100%;
  margin-top: 40px;
  background: url("../img/twoleft.png") 0 100%/350px 400px no-repeat;
}

.plan .text {
  width: 470;
  height: 279;
  margin-right: 25px;
}

.plan .text h2 {
  width: 470px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}

.plan .text h2 span {
  color: #f2994a;
}

.plan .text p {
  width: 450px;
  height: 56px;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 28px;
  color: #8476aa;
}

.saving {
  width: 1100px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto 0px auto;
}

.saving .text {
  margin: 0 auto;
  width: 100%;
}

.saving .text h2 {
  width: 700px;
  height: 85px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #99efd0;
  text-align: center;
  margin: 0 auto;
}

.saving .text h2 span {
  color: #f2994a;
}

.saving .text p {
  width: 395px;
  height: 40px;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 20px;
  color: #8476aa;
  margin: 30px auto 60px auto;
}

.saving .item {
  width: 278px;
  height: 120px;
}

.saving .item h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #99efd0;
  text-align: center;
}

.saving .item p {
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 20px;
  color: #8476aa;
  text-align: center;
  margin-top: 20px;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 1205px;
  height: 550px;
  margin: 120px auto 0px auto;
  background: url("../img/points.png") 0 100%/1203px 492px no-repeat;
}

.start h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
  text-align: center;
  margin: 0 auto;
  width: 770px;
}

.start span {
  color: #f2994a;
}

.start .info {
  margin: 40px auto 0px auto;
}

.invest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 1160px;
  height: 460px;
  margin: 80px 0px 0px auto;
  background: url("../img/land.png") 100% 0 no-repeat;
}

.invest .text {
  width: 470px;
  height: 316px;
  margin-right: 70px;
}

.invest .text h2 {
  width: 470px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}

.invest .text span {
  color: #f2994a;
}

.invest .text p {
  width: 470px;
  height: 84px;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 28px;
  color: #8476aa;
  margin: 50px 0px 50px 0px;
}

.invest .img {
  width: 400px;
  height: 400px;
}

.help__info {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0px 0px 0px;
  background: url("../img/tworight.png") 100% 100% no-repeat;
}

.help__info .img {
  width: 490px;
  height: 440px;
}

.help__info .text {
  width: 530px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 100px 0px 0px 120px;
}

.help__info .text h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #99efd0;
}

.help__info .text p {
  width: 400px;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 20px;
  color: #8476aa;
}

.help__info .text .item {
  width: 230px;
  height: 140px;
  margin: 20px 30px 0px 0px;
}

.help__info .text .item h4 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #99efd0;
  margin: 20px 0px 10px 0px;
}

.help__info .text .item p {
  width: 220px;
}

.mailing {
  width: 100%;
  background: url("../img/lines.png");
  margin-top: 110px;
}

.mailing .prompting {
  width: 900px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 0px auto;
  background: #20224e;
}

.mailing .prompting h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #f2994a;
}

.mailing .prompting p {
  width: 390px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #95a1bb;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.mailing .prompting .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 342px;
  height: 48px;
  margin: 40px auto 0px auto;
}

.mailing .prompting .info .mail {
  width: 240px;
  height: 46px;
  background: #303162;
  padding: 10px;
  border: 0.1px solid #303162;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: gray;
}

.mailing .prompting .info .send {
  width: 100px;
  height: 46px;
  background: #f2994a;
  color: white;
  border: 0.1px solid #f2994a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mailing .prompting span {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 20px;
  color: #8476aa;
  margin-top: 15px;
}

.footer {
  width: 100%;
  height: 582px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 150px;
  background: url("../img/colorpoints.png") no-repeat;
}

.footer h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #f2994a;
  margin: 40px 0px 0px 200px;
  width: 800px;
  height: 40px;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  height: 40px;
  margin: 40px 190px 0px auto;
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  height: 170px;
  margin: 50px auto 0px auto;
}

.footer .list .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 96px;
  height: 171px;
}

.footer .list .pages li {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin: 15px 0px 0px 0px;
}

.footer .list .pages li:first-child {
  font-weight: bold;
  margin-bottom: 30px;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 450px;
  color: #8d8d8d;
  margin: 90px auto 0px auto;
}
