$font-main:'Inter', sans-serif;
$font-secondary:'Rubik', sans-serif;
$font-Gilroy:'Gilroy-SemiBold', sans-serif;

$orange:#f2994a;
$green:#13C296;
$turquoise:#99efd0;
$purple:#8476aa;
$blue:#101144;
$lightgray:#b5b5b5;
$white:#fff;
$gray:#6d6d78;
$darkblue:#191d50;
$gray-blue:#95a1bb;
$blue-gray:#303162;
$darkgray:#8d8d8d;
$popup-color: #516EA9;

$main-color:$orange;
$secondary-color:$white;

$main-text-color:$turquoise;
$secondary-text-color:$purple;