@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;500&display=swap');
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/gilroy-semibold.eot');
	src: local('☺'), url('../fonts/gilroy-semibold.woff') format('woff'), url('../fonts/gilroy-semibold.ttf') format('truetype'), url('../fonts/gilroy-semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Файл обнуляющих стилей
@import "_nullstyle";
@import "_variables";

body {
	background: #101144;
}

.header {
	width: 73%;
	margin: 6% auto 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	.nav {
		width: 33%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0px 0px 0px 5%;

			.nav-item {
				font-family: $ff3;
				color: #b5b5b5;
		}
	}

	.entry {
		display: flex;
		flex-flow: wrap;
		margin-left: auto;

		.login {
			width: 112px;
			height: 36px;
			background: white;
			margin-right: 20px;
			border: 1px solid $color1;
			border-radius: 4px;
			text-align: center;
			padding-top: 10px;
		}

		.login-link {
			font-family: $ff2;
			color: $color1;
		}

		.registration {
			width: 112px;
			height: 36px;
			background: $color1;
			text-align: center;
			padding-top: 11px;
		}

		.registration-link {
			font-family: $ff2;
			color: white;
		}
	}
}

.main {
	display: flex;
	flex-wrap: wrap;
}

.motivation {
	display: flex;
	flex-flow: wrap;
	margin: 8% 0px 0px 13%;
	
   .men {
	   margin: 0px 0px 0px 20px;
		width: 50%;
   }
}

.motivation-info {
	width: 40%;
	display: flex;
	flex-flow: column wrap;
	margin-top: 40px;

	.motivation-title {
		width: 95%;
		font-family: $ff1;
		font-weight: bold;
		font-size: 44px;
		line-height: 50px;
		color: $color2;
	}

	.motivation-text {
		width: 87%;
		font-family: $ff3;
		font-size: 18px;
		line-height: 22px;
		margin: 19px 0px 0px;
		color: $color3;
	}

	.info {
		margin: 8% 0px 0px;
		display: flex;

		.info-demo {
			border: 1px solid $color1;
			border-radius: 4px;
			background: #101144;
			width: 112px;
			height: 36px;
			text-align: center;
			padding-top: 11px;

		}
		.info-demo-link {
			font-family: $ff2;
			color: $color1;
		}

		.info-more {
			margin-right: 20px;
			background: $color1;
			border-radius: 4px;
			width: 112px;
			height: 36px;
			text-align: center;
			padding-top: 11px;

		}
		.info-more-link {
			font-family: $ff2;
			color: white;
		}
	}

	.preview {
		width: 95%;
		margin: 12% 0px 0px;
		display: flex;
		flex-flow: wrap;

		.video {
			width: 28%;
		}

		.preview-info {
			width: 68%;
		}
	
		.preview-text {
			width: 100%;
			margin: 0px 0px 10px 23px;
			font-family: $ff2;
			font-size: 16px;
			line-height: 22px;
			color: $color3;
		}
	
		.preview-link {
			margin: 0px 0px 0px 23px;
			font-family: $ff2;
			font-size: 14px;
			line-height: 22px;
			color: #6d6d78;
		}
	}
}

.brands {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0px auto;
	opacity: 0.4;
}

.wrap {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	background: url('../img/firstleft.png') 0 0/20% 100%  no-repeat , url('../img/firstright.png') 100% 0/20% 100% no-repeat;
}

.features {
	width: 75%;
	display: flex;
	flex-flow: wrap;
	margin: 9% auto 0;

	.text {
		margin: 0 auto;

	   .feature-title {
		   width: 40%;
		   font-family: $ff1;
		   font-weight: bold;
		   font-size: 42px;
		   line-height: 50px;
		   color: $color2;
		   margin: 0 auto;
		   text-align: center;
	   }

	   .feature-text {
		   width: 100%;
		   font-family: $ff3;
		   font-size: 16px;
		   line-height: 22px;
		   color: $color3;
		   margin: 20px auto;
		   text-align: center;
	   }
   }

	.item-text {
		font-family: $ff3;
		font-size: 14px;
		line-height: 22px;
		color: $color3;
		width: 90%;
		margin-left: 20%;
	}

	.item-title {
		font-family: $ff3;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: $color2;
		width: 80%;
		margin-left: 12%;
	}

	.features__items {
		display: flex;
		flex-flow: wrap;
		width: 100%;
		margin: 0 auto;

		.item {
			display: flex;
			flex-flow: wrap;
			width: 27%;
			margin: 40px auto 0px;
		}
	}
}

.plan {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10%;
	background: url('../img/twoleft.png') 0 160%/25% 80% no-repeat;

	.text {
		width: 30%;
		margin-right: 25px;

		.plan-title {
			width: 100%;
			font-family: $ff1;
		   font-weight: bold;
		   font-size: 42px;
		   line-height: 50px;
		   color: $color2;

			.insert {
				color: $color1;
			}
		}

		.plan-text {
			width: 100%;
			font-family: $ff3;
		   font-size: 15px;
		   line-height: 22px;
		   color: $color3;
			margin-top: 10%;
		}
      
      .info {
			margin: 8% 0px 0px;
			display: flex;

			.info-more {
				margin-right: 20px;
				background: $color1;
				border-radius: 4px;
				width: 112px;
				height: 36px;
				text-align: center;
				padding-top: 11px;
	
			}
			.info-more-link {
				font-family: $ff2;
				color: white;
			}
	   }
   }

	.img {
		width: 30%;
	}
}

.saving {
	width: 80%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	margin: 9% auto 0px;

	.text {
		margin: 0 auto;
		width: 100%;

	   .save-title {
		   width: 60%;
		   font-family: $ff1;
		   font-weight: bold;
		   font-size: 36px;
		   line-height: 42px;
		   color: $color2;
		   text-align: center;
		   margin: 0 auto;

		      .insert {
			      color: $color1;
		      }
	   }

	   .save-text {
		   width: 33%;
		   font-family: $ff3;
		   font-size: 15px;
		   line-height: 20px;
		   color: $color3;
		   margin: 3% auto 6%;
	   }
   }	

   .save-item {
	   width: 20%;

	   .save-item-title {
		   font-family: $ff1;
		   font-weight: bold;
		   font-size: 36px;
		   line-height: 42px;
		   color: $color2;
		   text-align: center;
	   }

	   .save-item-text {
		font-family: $ff3;
		font-size: 15px;
		line-height: 20px;
		color: $color3;
		text-align: center;
		margin-top: 20px;
	   }
   }
}

.start {
	display: flex;
	flex-flow:column wrap;
	width: 80%;
	height: 550px;
	margin: 9% auto 0px;
	background: url('../img/points.png')0 50%/100% 100% no-repeat;

	.start-title {
		font-family: $ff1;
		font-weight: bold;
		font-size: 42px;
		line-height: 50px;
		color: $color2;
		text-align: center;
		margin: 0 auto;
		width: 80%;

		.insert {
			color: $color1;
		}
	}
	
	.info {
		margin: 4% 0px 0px;
		display: flex;

		.info-more {
			margin: 0 auto;
			background: $color1;
			border-radius: 4px;
			width: 112px;
			height: 36px;
			text-align: center;
			padding-top: 11px;

		}
		.info-more-link {
			font-family: $ff2;
			color: white;
		}
	}

}
.invest {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: 100%;
	height: 460px;
	margin: 5% 0px 0px;
	background: url('../img/land.png') 100% 0/45% 100% no-repeat;

	.text {
		width: 40%;
		margin:3% 3% 0 10%;

	   .invest-title {
		   width: 80%;
		   font-family: $ff1;
		   font-weight: bold;
		   font-size: 42px;
		   line-height: 50px;
		   color: $color2;
	   }

	   .insert {
		   color: $color1;
	   }

	   .invest-text {
		   width: 75%;
		   font-family: $ff3;
		   font-size: 15px;
		   line-height: 28px;
		   color: $color3;
		   margin: 50px 0px;
	   }

		.info {
			margin: 4% 0px 0px;
			display: flex;
	
			.info-more {
				background: $color1;
				border-radius: 4px;
				width: 112px;
				height: 36px;
				text-align: center;
				padding-top: 11px;
	
			}
			.info-more-link {
				font-family: $ff2;
				color: white;
			}
      }
	}

   .img {
	   width: 35%;
	   height: 80%;
   }
}

.help-info {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: 6% 0px 0px 4%;
	background: url('../img/tworight.png') 100% 50%/25% 100% no-repeat;

	.img {
		width: 35%;
		height: 90%;
	}

	.text {
		width: 40%;
		display: flex;
		flex-flow: wrap;
		margin: 7% 0px 0px 8%;

	   .help-title {
			font-family: $ff1;
		   font-weight: bold;
		   font-size: 26px;
		   line-height: 32px;
		   color: $color2;
		}

		.help-text {
			width: 70%;
			font-family: $ff3;
		   font-size: 15px;
		   line-height: 20px;
		   color: $color3;
		}

		.help-item {
			width: 40%;
			margin: 20px 30px 0px 0px;

			.help-item-title {
				font-family: $ff1;
		      font-weight: bold;
		      font-size: 15px;
		      color: $color2;
				margin: 20px 0px 10px;
			}

			.help-item-text {
				font-family: $ff3;
		      font-size: 15px;
		      line-height: 20px;
		      color: $color3;
				width: 95%;
			}
		}
	}
}
.mailing {
	width: 100%;
	background: url('../img/lines.png');
	margin-top: 10%;

   .prompting {
	   width: 65%;
	   display: flex;
	   flex-flow: column wrap;
	   align-items: center;
	   justify-content: center;
	   margin: 50px auto 0;
	   background: #191d50;
	   border-radius: 5px;
	   padding: 2.5% 0;

	   .prompting-title {
		   font-family: $ff2;
		   font-weight: 500;
		   font-size: 36px;
		   line-height: 43px;
		   color: $color1;
	   }

	   .prompting-text {
		   width: 40%;
		   font-family: $ff2;
		   font-size: 16px;
		   line-height: 22px;
		   color: #95a1bb;
		   text-align: center;
		   margin: 20px 0px 0px;
	   }

	   .info {
		   display: flex;
		   flex-flow: wrap;
		   width: 35%;
		   height: 48px;
		   margin: 40px auto 0;

		   .mail {
			   width: 71%;
			   height: 46px;
			   background: #303162;
			   padding: 10px;
			   border: 0.1px solid #303162;
			   border-top-left-radius: 5px;
			   border-bottom-left-radius: 5px;
			   color: #5a5a5a;
		   }

		   .send {
			   width: 29%;
			   height: 46px;
		      background: $color1;
		      color: white;
			   border: 0.1px solid $color1;
			   border-top-right-radius: 5px;
			   border-bottom-right-radius: 5px;
		   }
	   }

	   .spam {
		   font-family: $ff3;
		   font-size: 14px;
		   line-height: 20px;
		   color: $color3;
			margin-top: 15px;
	   }
   }
}

.container {
	max-width: 1200px;
	display: flex;
	flex-flow: wrap;
	margin: 0 auto;
	padding: 0 15px;
}

.footer {
	width: 100%;
	height: 582px;
	display: flex;
	flex-flow: wrap;
	margin-top: 150px;
	background: url('../img/colorpoints.png') no-repeat;

	.caption {
		font-family: $ff1;
		font-weight: bold;
		font-size: 26px;
		line-height: 32px;
		color: $color1;
		margin: 40px 0 0;
	}

	.socials {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		width: 15%;
		margin: 40px 0px 0px auto;
	}

	.list {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		width: 100%;
		margin: 50px auto 0;

		.pages {
			display: flex;
			flex-flow: column wrap;
			width: 11%;
			margin: 0 20px;

			.page-item {
				font-family: $ff1;
				font-size: 15px;
		      line-height: 20px;
				color: white;
				margin: 15px 0px 0px 0px;
			}
		}

		.lead {
			font-family: $ff1;
			font-size: 15px;
		   line-height: 20px;
			color: white;
			font-weight: bold;
			margin-bottom: 30px;
		}
	}

	.copyright {
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
		width: 40%;
		color: #8d8d8d;
		margin: 9% auto 0;
	}
}
